li.related_question {
    position: relative;
}

li.related_question span.ui_qtext_rendered_qtext {
    padding-top: 10px;
}

div.qe-popover {
    box-sizing: border-box;
    height: 130px;
    width: 340px;
    background: #ffffff url('/assets/popover-bg.png') no-repeat top right;
    -webkit-background-size: 238px;
    background-size: 238px;
    padding: 18px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -134px;
    left: 0;
    animation: popoverFadein 0.3s linear forwards;
    font-family: Georgia, serif;
    overflow: hidden;
}

@keyframes popoverFadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div.qe-popover.fading-out {
    animation: popoverFadeout 0.3s linear forwards;
}

@keyframes popoverFadeout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}

.qe-popover h2.question-title {
    font-weight: bold;
    color: #000;
    display: block;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 12px;
}

.qe-popover div.question-detail-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-detail-section .info-chunk {
    display: inline-block;
}

.question-detail-section .info-chunk:first-child {
    width: 85px;
}

.question-detail-section .info-chunk span {
    display: block;
}

.question-detail-section .info-chunk__number {
    font-size: 30px;
    color: #b92b27;
}

.question-detail-section .info-chunk__label {
    color: #8b8b8b;
}

a.view-question-button {
    padding: 5px 14px;
    background: #b92b27;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    top: 4px;
    transition: background-color 0.2s ease-in-out;
}

a.view-question-button:hover {
    background: #a3221f;
    text-decoration: none;
}

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.info-chunk-loading {
    position: relative;
    display: block;
    width: 100%;
    height: 42px;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    overflow: hidden;
}

.info-chunk-loading div {
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 4px;
    left: 10px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #b92b27 transparent #b92b27 transparent;
    -webkit-animation: lds-dual-ring 2.8s linear infinite;
    animation: lds-dual-ring 2.8s linear infinite;
}

.info-chunk-loading.toprated-loading div {
    left: 14px;
}

.qe-loading-bar-wrapper,
.qe-loading-bar-fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

.qe-loading-bar-fill {
    width: 0;
    background: gray;
    transition: width 0.7s ease-in-out;
}

.qe-loading-bar-fill.all-done {
    animation: fadeOutOpacity 0.6s ease-in-out forwards;
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.qe-loading-bar-fill.load-1 {
    width: 5%;
}
.qe-loading-bar-fill.load-2 {
    width: 10%;
}
.qe-loading-bar-fill.load-3 {
    width: 15%;
}
.qe-loading-bar-fill.load-4 {
    width: 20%;
}
.qe-loading-bar-fill.load-5 {
    width: 25%;
}
.qe-loading-bar-fill.load-6 {
    width: 30%;
}
.qe-loading-bar-fill.load-7 {
    width: 35%;
}
.qe-loading-bar-fill.load-8 {
    width: 40%;
}
.qe-loading-bar-fill.load-9 {
    width: 45%;
}
.qe-loading-bar-fill.load-10 {
    width: 50%;
}
.qe-loading-bar-fill.load-11 {
    width: 55%;
}
.qe-loading-bar-fill.load-12 {
    width: 60%;
}
.qe-loading-bar-fill.load-13 {
    width: 65%;
}
.qe-loading-bar-fill.load-14 {
    width: 70%;
}
.qe-loading-bar-fill.load-15 {
    width: 75%;
}
.qe-loading-bar-fill.load-16 {
    width: 80%;
}
.qe-loading-bar-fill.load-17 {
    width: 85%;
}
.qe-loading-bar-fill.load-18 {
    width: 90%;
}
.qe-loading-bar-fill.load-19 {
    width: 95%;
}
.qe-loading-bar-fill.load-20 {
    width: 100%;
}